RewriteEngine On

# To externally redirect /dir/foo.shtml to /dir/foo
RewriteCond %{THE_REQUEST} ^GET\s.+\index.shtml [NC]
RewriteRule ^(.+)\index.shtml$ /$1 [R=301,L,NC]
RewriteCond %{THE_REQUEST} ^GET\s.+\.shtml [NC]
RewriteRule ^(.+)\.shtml$ /$1 [R=301,L,NC]